# Основные библиотеки для работы с данными
numpy>=1.26.0,<2.0.0
pandas>=2.1.0,<3.0.0

# Визуализация
matplotlib>=3.8.0,<4.0.0

# Многокритериальный анализ
pymcdm>=1.1.0

scikit-criteria>=0.6.0
scikit-learn>=1.3.0

catboost==1.2.10
xgboost==3.2.0
optuna==4.7.0
lightgbm==4.6.0
AHPy==2.1